[Unit]
Description=Kamailio (OpenSER) - the Open Source SIP Server Configured for Kazoo
After=syslog.target network.target

[Service]
ExecStart=/usr/sbin/kazoo-kamailio foreground
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target

