[Unit]
Description=Kamailio (OpenSER) - the Open Source SIP Server Configured for Kazoo
After=syslog.target network.target

[Service]
User=kamailio
Group=daemon
WorkingDirectory=/var/run/kamailio
PermissionsStartOnly=true
PIDFile=/var/run/kazoo-kamailio/kamailio.pid
ExecStartPre=/usr/sbin/kazoo-kamailio prepare
ExecStart=/usr/sbin/kazoo-kamailio foreground
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target

