[Unit]
Description=BigCouch DB Configured for Kazoo
After=syslog.target network.target

[Service]
Type=forking
User=bigcouch
Group=daemon
PermissionsStartOnly=true
LimitNOFILE=65536
LimitCORE=infinity
ExecStartPre=/usr/sbin/kazoo-bigcouch prepare
ExecStart=/usr/sbin/kazoo-bigcouch background
ExecStop=/usr/sbin/kazoo-bigcouch stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
