[Unit]
Description=FreeSWITCH Configured for Kazoo
After=syslog.target network.target
After=postgresql.service postgresql-9.3.service postgresql-9.4.service mysqld.service httpd.service

[Service]
User=freeswitch
Group=daemon
PermissionsStartOnly=true
LimitNOFILE=65536
LimitCORE=infinity
# RuntimeDirectory is not yet supported in CentOS 7. A workaround is to use /etc/tmpfiles.d/freeswitch.conf
# RuntimeDirectory=/run/freeswitch
# RuntimeDirectoryMode=0750
ExecStartPre=/usr/sbin/kazoo-freeswitch prepare
ExecStart=/usr/sbin/kazoo-freeswitch start -nc -nf
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-abort
PIDFile=/var/run/freeswitch/freeswitch.pid

[Install]
WantedBy=multi-user.target
