[Unit]
Description=Kazoo core applications
After=syslog.target network.target

[Service]
User=kazoo
Group=daemon
PermissionsStartOnly=true
ExecStartPre=/usr/sbin/kazoo-applications prepare
ExecStart=/usr/sbin/kazoo-applications foreground
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=on-abort

[Install]
WantedBy=multi-user.target