[Unit]
Description=Kazoo core applications
After=syslog.target network.target

[Service]
User=kazoo
Group=daemon
PermissionsStartOnly=true
ExecStartPre=/usr/sbin/kazoo-applications prepare
ExecStart=/usr/sbin/kazoo-applications start
ExecStop=/usr/sbin/kazoo-applications stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
