[Unit]
Description=RabbitMQ Broker Configured for Kazoo
After=syslog.target network.target

[Service]
Type=notify
WorkingDirectory=/var/lib/rabbitmq
ExecStart=/usr/sbin/kazoo-rabbitmq start
ExecStop=/usr/sbin/kazoo-rabbitmq stop

[Install]
WantedBy=multi-user.target
