[Unit]
Description=Kamailio (OpenSER) - the Open Source SIP Server Configured for Kazoo
After=syslog.target network-online.target

[Service]
User=kamailio
Group=daemon
PermissionsStartOnly=true
LimitNOFILE=65536
LimitCORE=infinity
ExecStartPre=/usr/sbin/kazoo-kamailio prepare
ExecStart=/usr/sbin/kazoo-kamailio start
ExecStop=/usr/sbin/kazoo-kamailio stop
Restart=on-abort

[Install]
WantedBy=multi-user.target
