modparam("htable", "htable", "msg=>size=32;autoexpire=60;")


event_route[kazoo:consumer-event-message-route]
{
    $var(uri_username) = "";
    kazoo_json($kzE, "Endpoints[0].To-Username", "$var(uri_username)");
    $var(x) = $(kzE{kz.json,Endpoints[0].To-Username});
    xlog("L_INFO", "received message route for $(kzE{kz.json,Endpoints[0].To-DID})\n");
    if( $var(uri_username) != "" ) {
        $var(from_uri) = "sip:" + $(kzE{kz.json,Caller-ID-Number}) + "@" + $(kzE{kz.json,Endpoints[0].To-Realm});
        $var(to_uri) = "sip:" + $(kzE{kz.json,Endpoints[0].To-Username}) + "@" + $(kzE{kz.json,Endpoints[0].To-Realm});
    } else {
        $var(from_uri) = "sip:" + $(kzE{kz.json,Caller-ID-Number}) + $(kzE{kz.json,Endpoints[0].To-Realm});
        $var(to_uri) = $(kzE{kz.json,Endpoints[0].Route});
    }
    $sht(msg=>$(kzE{kz.json,Call-ID})) = $kzE;
    $uac_req(method)="MESSAGE";
    $uac_req(body)= $(kzE{kz.json,Body});
    $uac_req(hdrs)="X-KAZOO-AOR: " + $var(to_uri)+ "\r\nContent-Type: text/plain\r\n";
    $uac_req(turi) = $var(to_uri);
    $uac_req(ruri) = $var(to_uri);
    $uac_req(furi) = $var(from_uri);
    $uac_req(ouri) = "sip:MY_IP_ADDRESS:5060";
    $uac_req(callid) = $(kzE{kz.json,Call-ID});
    xlog("L_INFO", "sending message from $var(from_uri) to $var(to_uri) \n");
    uac_req_send();
}

route[HANDLE_MESSAGE]
{
    if (!is_method("MESSAGE")) {
       return;
    }

    #!ifdef MESSAGE_ROLE
    xlog("L_INFO", "$ci|MESSAGE from $fu to $tu\n");
    if (isflagset(FLAG_INTERNALLY_SOURCED) || src_ip == myself) {
        xlog("L_INFO", "$ci| routing MESSAGE to external from $fu to $tu\n");
        if (registered("location")) {
            lookup("location");
            xlog("L_INFO", "$ci|log|routing to $ruid\n");
        }
    } else {
        #!ifdef TRAFFIC_FILTER_ROLE
        if (!isflagset(FLAG_TRUSTED_SOURCE)) {
            route(FILTER_REQUEST_DOMAIN);
        }
        #!endif
        xlog("L_WARN", "$ci|end|MESSAGE $(hdr(Content-Type))\n");
        if( $hdr(Content-Type) == "application/im-iscomposing+xml" ) {
            xlog("L_WARN", "$ci|end|dropping MESSAGE application/im-iscomposing+xml\n");
            sl_send_reply("200", "OK");
        } else if( $hdr(Content-Type) == "message/imdn+xml" ) {
            xlog("L_WARN", "$ci|end|dropping MESSAGE message/imdn+xml\n");
            sl_send_reply("202", "Accepted");
        } else {
            route(DISPATCHER_FIND_ROUTES);
        }
    }
    route(RELAY);
    #!else
    if (!isflagset(FLAG_INTERNALLY_SOURCED)) {
        sl_send_reply("202", "delivered to /dev/null");
        exit();
    }
    route(RELAY);
    #!endif
}

route[MESSAGE_REPLY]
{
    if( $(sht(msg=>$ci)) == $null) {
        exit();
    }

    if($T_reply_code != 200 && $T_reply_code != 202) {
        $var(Result) = "Failure";
    } else {
        $var(Result) = "Success";
    }

    $var(Payload) = '{ "Event-Category" : "message", "Event-Name" : "delivery",  "Call-ID" : "$(sht(msg=>$ci){kz.json,Call-ID})", "Message-ID" : "$(sht(msg=>$ci){kz.json,Message-ID})" , "Delivery-Result-Code" : "sip:$T_reply_code", "Msg-ID" : "$(sht(msg=>$ci){kz.json,Msg-ID})" , "Status" : "$var(Result)"}';
    
    $var(RoutingKey) = $(sht(msg=>$ci){kz.json,Server-ID});
    $var(exchange) = "targeted";
    if($var(RoutingKey) == "") {
        $var(exchange) = "sms";
        $var(RoutingKey) = "message.delivery." + $(sht(msg=>$ci){kz.json,Call-ID}{kz.encode});
    }
    xlog("L_INFO", "sending delivery message for $ci\n");
    kazoo_publish($var(exchange), $var(RoutingKey), $var(Payload));
}

route[MESSAGE_BINDINGS]
{
    $var(key) = "kamailio@MY_HOSTNAME";
    $var(payload) = "{ 'exchange' : 'sms' , 'type' : 'topic', 'queue' : 'MSG-QUEUE-MY_HOSTNAME', 'routing' : 'message.route." + $(var(key){kz.encode}) + ".*', 'no_ack' : 0 }";
    kazoo_subscribe("$var(payload)");
}

# vim: tabstop=4 softtabstop=4 shiftwidth=4 expandtab
