######## Prometheus Exporter ########
#!trydef PROMETHEUS_WORKERS 2

socket_workers=PROMETHEUS_WORKERS
listen=TCP_PROMETHEUS

loadmodule "xhttp_prom.so"
# show all kamailio statistics.
modparam("xhttp_prom", "xhttp_prom_stats", "all")
modparam("xhttp_prom", "xhttp_prom_buf_size", 65536)
route[HTTP_REQUEST_PROMETHEUS]
{
    if( $Rp != PROMETHEUS_PORT) return;

	if (prom_check_uri()) {
		prom_dispatch();
        exit;
    }
}
