######## Prometheus Exporter ########

listen=PROMETHEUS_TCP_LISTENER

loadmodule "xhttp_prom.so"
# show all kamailio statistics.
modparam("xhttp_prom", "xhttp_prom_stats", "all")
modparam("xhttp_prom", "xhttp_prom_buf_size", 65536)
route[PROMETHEUS_REQUEST]
{
	if (prom_check_uri()) {
		prom_dispatch();
        exit;
    }
}
