#!trydef TLS_CONFIG_FILE /etc/kazoo/kamailio/tls.cfg
#!trydef KZ_TLS_INIT_MODE 1
#!trydef KZ_TLS_THREADS_MODE 2
#!trydef KZ_TLS_LOG_LEVEL 1

#!substdef "!TLS_CFG!$def(TLS_CONFIG_FILE)!g"

enable_tls = yes
tls_threads_mode = KZ_TLS_THREADS_MODE

#!ifndef WITHOUT_DEFAULT_LISTENER
listen=TLS_SIP
listen=TLS_ALG
#!else
#!ifdef WITH_TLS_LISTENER
listen=TLS_SIP
listen=TLS_ALG
#!else
#!ifdef WITH_TLS_SIP_LISTENER
listen=TLS_SIP
#!endif
#!ifdef WITH_TLS_ALG_LISTENER
listen=TLS_ALG
#!endif
#!endif
#!endif

#!ifdef WITH_ADVERTISE_TLS_LISTENER
listen=TLS_ADVERTISE_SIP
listen=TLS_ADVERTISE_ALG
#!else
#!ifdef WITH_ADVERTISE_TLS_SIP_LISTENER
listen=TLS_ADVERTISE_SIP
#!endif
#!ifdef WITH_ADVERTISE_TLS_ALG_LISTENER
listen=TLS_ADVERTISE_ALG
#!endif
#!endif

#!ifdef WITH_EXTERNAL_TLS_LISTENER
listen=TLS_EXTERNAL_SIP
listen=TLS_EXTERNAL_ALG
#!else
#!ifdef WITH_EXTERNAL_TLS_SIP_LISTENER
listen=TLS_EXTERNAL_SIP
#!endif
#!ifdef WITH_EXTERNAL_TLS_ALG_LISTENER
listen=TLS_EXTERNAL_ALG
#!endif
#!endif

#!ifdef WITH_LB_TLS_LISTENER
listen=TLS_LB_SIP
listen=TLS_LB_ALG
#!else
#!ifdef WITH_LB_TLS_SIP_LISTENER
listen=TLS_LB_SIP
#!endif
#!ifdef WITH_LB_TLS_ALG_LISTENER
listen=TLS_LB_ALG
#!endif
#!endif

#!ifdef WITH_LB_ADVERTISE_TLS_LISTENER
listen=TLS_LB_ADVERTISE_SIP
listen=TLS_LB_ADVERTISE_ALG
#!else
#!ifdef WITH_LB_ADVERTISE_TLS_SIP_LISTENER
listen=TLS_LB_ADVERTISE_SIP
#!endif
#!ifdef WITH_LB_ADVERTISE_TLS_ALG_LISTENER
listen=TLS_LB_ADVERTISE_ALG
#!endif
#!endif

####### TLS Parameters #########
#!ifndef MOD_tls
loadmodule "tls.so"
#!endif
modparam("tls", "config", "TLS_CFG")
modparam("tls", "low_mem_threshold1", 1)
modparam("tls", "low_mem_threshold2", 1)
modparam("tls", "xavp_cfg", "tls")
modparam("tls", "init_mode", KZ_TLS_INIT_MODE)

modparamx("debugger", "mod_level", "tls=$def(KZ_TLS_LOG_LEVEL)")

